node_modules
dist
coverage
.drakkar
.next
config
.env
.eslintrc.js
jest.config.js
next-env.d.ts
next.config.js
webpack.*
package.json
documentation
**/*.html
**/*.json
*.md
*.svg
*.jpg
*.ico
*.scss
browserslist
*.d.ts
*.eot
*.ttf
*.woff
*.txt
*.png
*.gif